/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
    color: #2c3e50;
}

/* Background Image */
.background-image {
    background-image: url('/static/images/index5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container Styles */
.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    max-height: 580px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

/* Typography Styles */
h1 {
    margin-bottom: 20px;
    color: #2980b9;
    font-weight: 600;
    font-size: 2rem;
}

p {
    color: #34495e;
    line-height: 1.4;
    font-size: 1em;
    margin-bottom: 30px;
}

label {
    font-weight: 600;
    color: #34495e;
    margin-bottom: 5px;
    display: block;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    transition: border-color 0.3s ease-in-out;
}

input:focus, textarea:focus {
    border-color: #2980b9;
    outline: none;
}

/* Form Group Styles */
.form-group {
    text-align: left;
    margin-bottom: 8px;
}

.form-group i {
    margin-right: 10px;
    color: #2980b9;
}

/* Button Styles */
button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #1abc9c;
    transform: scale(1.05);
}

/* Animation Styles */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.8em;
    }

    p {
        font-size: 1em;
    }
}
