/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    
    padding: 0;
    background-image: url('/static/images/index.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    position: relative;
}
/*
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
*/
.quote-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    padding: 25px; /* Adjusted padding */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 450px; /* Reduced max-width to make the container more compact */
    height: auto; /* Auto height to adapt to content */
    text-align: center;
   overflow: auto;/*  Allows for scrolling if content overflows */
    animation: fadeIn 1s ease-in-out;
}

/* Typography */
h1 {
    font-size: 2em;
    color: #2c3e50;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    color: #7f8c8d;
    margin-bottom: 30px;
}

/* Form Styles */
.form-group {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: #2c3e50;
}

input, textarea, select {
    width: 100%;
    padding: 12px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 1em;
    color: #2c3e50;
    margin-bottom: 10px;
    transition: border-color 0.3s;
}

input:focus, textarea:focus, select:focus {
    border-color: #2980b9;
    outline: none;
}

textarea {
    resize: vertical;
}

/* Button Styles */
.submit-button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.submit-button:hover {
    background-color: #1abc9c;
}

/* Animation Styles */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .quote-container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }
}
